<div data-role="header" data-theme="b" >
  <h1>Kaonuki</h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>
<p>
  <strong>Image</strong>
  <%= image_tag @photo.image_url(:thumb).to_s %>
</p>
<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back to list', photos_path, 'data-no-turbolink' => true, "data-ajax" => :false  %>